$PRIMARY_COLOR : rgb(243,103,126);

body{
    font-family :'Roboto', sans-serig;

    h1 {
        text-align:center;
        color:$PRIMARY_COLOR;
        font-weight:400;
    }

    .container {
        border: 1px solid red;
        display: block;
        position: fixed;
    }

    .item {
        position: relative;
        border: 2px solid blue;
        width: 10px;
        height: 20px;
    }

    .itemBar {
        width: 100%;
    }

    .bullet {
        position: absolute;
    }
}
